.content {
    position: absolute;
    top: 52px;
    left: 150px;
    display: block;
    width: calc(100% - 166px);
    height: calc(100vh - 60px);
    background-color: #e9ebee;
    padding: 8px 8px 0px 8px;
}

.grid {
    height: calc(100% - 36px);
    width: 100%;
}