.header {
    height: 52px;
    width: 100%;
    display: flex;
}

.header .header-left {
    height: 52px;
    width: 150px;
    align-items: center;
    background-color: #1e235a;
    background-image: url("../../assets/Logo_Full_White.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.header .header-right {
    left: 150px;
    height: 100%;
    width: calc(100% - 150px);
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.header-right .product {
    height: 52px;
    width: 200px;
    display: flex;
    align-items: center;
}

.header-right .product .product-name {
    width: auto;
    font-size: 18px;
    margin-left: 21px;
    color: #212121;
    margin-right: 8px;
    font-weight: 700;
    white-space: nowrap;
}

.header-right .product.form-mode .product-name {
    color: #6b6f9d;
}

.header-right .product.form-mode .mode {
    width: auto;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 10px;
    font-weight: 400;
    white-space: nowrap;
}

.header-right .user {
    height: 100%;
    width: auto;
    justify-content: center;
    display: flex;
    position: relative;
    align-items: center;
}

.header-right .user .back {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 26px;
    margin-right: 20px;
}

.header-right .back .back-arrow {
    margin-right: 3px;
    width: 16px;
    height: 16px;
    background: url('../../assets/common-icon.png') no-repeat -454px -129px;
}

.header-right .back .back-text {
    color: #636dde;
    padding: 0 15px 0 5px;
    font-size: 11px;
    font-weight: 300;
    line-height: 26px;
    border-right: 1px solid #dfe3e8;
}

.header-right .back .back-text:hover {
    color: #6b6f9d;
}

.header-right .brief {
    color: #212121;
    font-size: 11px;
    font-weight: 300;
    height: 33px;
    width: 150px;
    border: 1px solid #c4cdd5;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    display: flex;
    position: relative;
    box-shadow: 0px -1px 1px 0px #c4cdd5;
}

.header-right .brief .brief-name {
    padding-top: 8px;
    width: 100%;
}

.header-right .brief .brief-arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url("../../assets/icon/chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: 8px;
    top: 8px
}

.header-right .user .user-avatar {
    width: 32px;
    height: 32px;
    margin: 8px 16px 8px 16px;
    border-radius: 50%;
    background-image: url("../../assets/img/default-avatar.jpg");
    background-size: contain;
    background-color: #ccc;
}

.header-right .user .user-fullname {
    width: auto;
    line-height: 52px;
    font-size: 13px;
    font-weight: 700;
}

.header-right .user .user-arrow {
    height: 16px;
    width: 16px;
    margin: 17px 20px 17px 16px;
    background-image: url("../../assets/icon/chevron-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.header-right .user .phone {
    height: 52px;
    width: 43px;
    background-image: url("../../assets/icon/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header-right .user .bell {
    height: 52px;
    width: 52px;
    background-image: url("../../assets/icon/bell.png");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #dfe3e8;
}

.header-right .user .help {
    height: 52px;
    width: 52px;
    background-image: url("../../assets/icon/help.png");
    background-repeat: no-repeat;
    background-position: center;
}