.list-dropdown {
    height: fit-content;
    position: absolute;
    padding: 4px 6px 4px 4px;
    top: 67px;
    z-index: 4;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.dropdown-item {
    height: 32px;
    padding-left: 16px;
    line-height: 32px;
    cursor: pointer;
    width: calc(100% - 16px);
}

.dropdown-item:hover {
    background-color: #616ec6;
}